/* Tags */
body {
    background: #2f3136;
    text-align: center;
}

/* Classes */
.button {
    background: linear-gradient(to right, #ffd700, #ddba00);
    border-image: linear-gradient(to right, #bb9e00, #998100) 1;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
}

.button:hover {
    background: linear-gradient(to right, #ffdc22, #ffd700);
}

.card {
    width: 140px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
}

.dice {
    width: 140px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
}

.inputField {
    background-color: #2f3136;
    color: #9b9fa8;
    border: 1px solid #bb9e00;
    padding: 2.5px;
    border-radius: 5px;
}

.inputField:focus {
    border-color: #ffdc22;
    outline: none;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-content {
    background: #2f3136;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.pageName {
    color: #9b9fa8;
}

.text {
    color: #9b9fa8;
}

/* IDs */

#playerCardDiv img,
#dealerCardDiv img {
    width: 140px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
}

#playerDiceDiv img {
    width: 140px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
}

#resultModal {
    display: none;
}

#rankingsTable {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    border: 2px solid #ddba00;
}

#rankingsTable th, #rankingsTable td {
    border: 1px solid #ddba00;
    padding: 8px;
}

#rankingsTable th {
    background-color: #9b9fa8;
    color: #333;
}